repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0 
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
  - id: end-of-file-fixer
  - id: detect-private-key
  - id: check-merge-conflict
  - id: check-added-large-files

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.1
  hooks:
    # Run the linter.
    - id: ruff-check
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.19.1'  # Use the sha / tag you want to point a
  hooks:
  - id: mypy
    args: [--ignore-missing-imports]
